:root{
    --white:#ffffff;
    --black:#000000;
    --Pastel-Grey:#CCCCCC;
    --Dune:#333333;
    --Chambray:#344291;
    --Blue-Chalk:#EAEDFF;
    --Sanguine-Brown:#913434;
    --Amour:#FFEAEA;
    --Pumpkin-Orange:#F57921;
    --Desert-Sand:#F4CAAD;
    --Iron:#CED4DA;
    --Midnight-Blue:#02023C;
    --Lavender-Mist:#E5E5FF;
    --Debian-Red:#CF0F47;
    --Pastel-Pink:#F3D2DB;
    --Viridian:#328E6E;
    --Frosted-Mint:#E1FFF5;
    --Tiger-Eye:#E78B48;
    --Albescent-White:#FDE7D7;

}


/*Theme the Tabulator element*/
#tabulator-table{
    background-color:var(--Pastel-Grey);
    border: 1px solid var(--Dune);
}
#tabulator-table .tabulator-page-counter{
    
}
/*Theme the header*/
#tabulator-table .tabulator-header {
    background-color:var(--Chambray);
    color:var(--white);
}

/*Allow column header names to wrap lines*/
#tabulator-table .tabulator-header .tabulator-col,
#tabulator-table .tabulator-header .tabulator-col-row-handle {
    white-space: normal;
}

/*Color the table rows*/
#tabulator-table .tabulator-tableholder .tabulator-table .tabulator-row{
   
    background-color:var(--white);
    color: var(--black);
}
#tabulator-table.tabulator .tabulator-footer .tabulator-page{
    font-size: 14px;
}
/*Color even rows*/
#tabulator-table .tabulator-tableholder .tabulator-table .tabulator-row:nth-child(even) {
        color:var(--black);
        background-color: var(--Blue-Chalk);
}
#tabulator-table .tabulator-page.active{
    color:#000;
    background-color: var(--Blue-Chalk);
}
/*Orange*/
#tabulator-table.orange .tabulator-header {
    background-color:var(--Pumpkin-Orange);
}
#tabulator-table.orange .tabulator-header {
    color:var(--black);
}
#tabulator-table.orange .tabulator-tableholder .tabulator-table .tabulator-row:nth-child(even) {
        background-color:var(--Desert-Sand);
}
#tabulator-table.orange .tabulator-page.active{
    color:var(--black);
    background-color:var(--Desert-Sand);
}
/* orange end */
/*Blue*/
#tabulator-table.blue .tabulator-header {
    background-color:var(--Midnight-Blue);
}
#tabulator-table.blue .tabulator-header {
    color:var(--white);
}
#tabulator-table.blue .tabulator-tableholder .tabulator-table .tabulator-row:nth-child(even) {
        background-color:var(--Lavender-Mist);
}
#tabulator-table.blue .tabulator-page.active{
    color:var(--black);
    background-color:var(--Lavender-Mist);
}
/* blue end */
/* red start */
#tabulator-table.red .tabulator-header {
    background-color:var(--Debian-Red);
}
#tabulator-table.red .tabulator-header {
    color:var(--white);
}
#tabulator-table.red .tabulator-tableholder .tabulator-table .tabulator-row:nth-child(even) {
        background-color:var(--Pastel-Pink);
}
#tabulator-table.red .tabulator-page.active{
    color:var(--black);
    background-color:var(--Pastel-Pink);
}

/* red end */
/* green start */
#tabulator-table.green .tabulator-header {
    background-color:var(--Viridian);
}
#tabulator-table.green .tabulator-header {
    color:var(--white);
}
#tabulator-table.green .tabulator-tableholder .tabulator-table .tabulator-row:nth-child(even) {
        background-color:var(--Frosted-Mint);
}
#tabulator-table.green .tabulator-page.active{
    color:var(--black);
    background-color:var(--Frosted-Mint);
}

/* green end */
/* yellow start */
#tabulator-table.yellow .tabulator-header {
    background-color:var(--Tiger-Eye);
}
#tabulator-table.yellow .tabulator-header {
    color:var(--white);
}
#tabulator-table.yellow .tabulator-tableholder .tabulator-table .tabulator-row:nth-child(even) {
        background-color:var(--Albescent-White);
}
#tabulator-table.yellow .tabulator-page.active{
    color:var(--black);
    background-color:var(--Albescent-White);
}

/* yellow end */
#tabulator-table.tabulator .tabulator-footer {
    background: var(--white);
}
#tabulator-table.tabulator .tabulator-footer .tabulator-page:disabled {
    color:var(--black);
}
.tabulator .tabulator-footer {
    border-top:none;
}
#tabulator-table.tabulator {
    border: 1px solid var(--Iron)!important;
}
#tabulator-table .tabulator-row .tabulator-cell {
    padding: .5em .5em;
}
#tabulator-table .wrap-text {
    white-space: normal !important;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* Area pagination start */
/* search area start */
        .search-wrapper {
            margin: 20px 0;
            display: flex
    ;
        justify-content: end;
        }
    
        .search-box {
            position: relative;
            border-radius: 30px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s ease;
        }
    
        .search-box input {
            border: none;
            border-radius: 30px;
            padding: 10px 45px 10px 40px;
            /* width: 100%; */
            font-size: 0.95rem;
            transition: all 0.3s ease;
        }
    
        .search-box input:focus {
            outline: none;
            box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
        }
    
        .search-box .search-icon {
            width: 18px;
            height: 18px;
            border: 3px solid #999;
            border-radius: 50%;
            position: absolute;
            display: inline-block; 
            box-sizing: border-box;
            margin: 8px;
          }
      
          .search-box .search-icon::before {
            content: '';
            width: 10px;
            height: 3px;
            background-color: #999;
            position: absolute;
            top: 11px;
            left: 11px;
            transform: rotate(45deg);
            transform-origin: top left;
          }
        .search-box .clear-btn {
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            border: none;
            background: #dc3545;
            color: white;
            padding: 6px 12px;
            border-radius: 20px;
            font-size: 0.75rem;
            cursor: pointer;
            transition: background 0.3s ease;
        }
    
        .search-box .clear-btn:hover {
            background: #c82333;
        }
/* Search End  */
/* Area pagination start */
@media (max-width: 1400px) and (min-width: 768px) {
	.col-md-6 #tabulator-table .tabulator-page-counter {
	  display: block;
	  margin-bottom: 12px;
	}
	.col-md-6 .tabulator .tabulator-footer .tabulator-footer-contents {
	  display: block;
      padding: 2px;
	}
	

  }
  @media(max-width:840px){
	.col-md-6 .tabulator .tabulator-footer {
        padding: 4px 0!important;
	}
	.col-md-6 .tabulator .tabulator-footer .tabulator-page {
		margin: 0 .04rem;
	}
	.col-md-6 .tabulator .tabulator-footer .tabulator-page-size {
		padding: 4px 5px;
	}
    .col-md-12 .tabulator .tabulator-footer {
        padding: 4px 0!important;
	}
  }
  @media(max-width:768px){
    .col-md-6 .tabulator .tabulator-footer .tabulator-footer-contents {
        justify-content: start;
        gap:12px;
    }
    .col-md-6 .tabulator .tabulator-footer .tabulator-pages {
        display: none;
    }
  }

 
 @media(max-width:575px){
    .col-md-6 .tabulator .tabulator-footer .tabulator-footer-contents {
        display: block;
    }
    .col-md-6 #tabulator-table .tabulator-page-counter {
        display: block;
    }
    .col-md-12 .tabulator .tabulator-footer .tabulator-footer-contents {
        display: block;
    }
    .col-md-12 #tabulator-table .tabulator-page-counter {
        display: block;
    }

    .col-md-8 .tabulator .tabulator-footer .tabulator-footer-contents {
        display: block;
    }
    .col-md-8 #tabulator-table .tabulator-page-counter {
        display: block;
    }
    .col-md-7 .tabulator .tabulator-footer .tabulator-footer-contents {
        display: block;
    }
    .col-md-7 #tabulator-table .tabulator-page-counter {
        display: block;
    }
 
   .col-12 #tabulator-table .tabulator-page-counter {
    display: block;
   }
   .col-12 .tabulator .tabulator-footer .tabulator-footer-contents {
    display: block;
   }
 }
/* Area pagination end */